<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>

      <ion-input type="text" placeholder="Nome"
        [(ngModel)]="cliente.nome" name="nome"></ion-input>

      </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="Email"
        ref-inputEmail></ion-input>
    </ion-item>

    <ion-input type="tel" placeholder="Telefone"></ion-input>
    <ion-input type="number" placeholder="Renda" text-right></ion-input>
    <ion-input type="text" placeholder="Nascimento"></ion-input>

    <ion-button shape="round" color="primary" expand="block" padding
      type="submit">
        Confirmar
    </ion-button>
  </form>
</ion-content>
